table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(121, 120, 120);
  }
  .page_title
  {
    position: absolute;
    top: 50px;
    left: 100px;
  }
  .user_display
  {
      position: absolute;
      top: 170px;
  }
  .user_add_div
{
  position: absolute;
  left: 100px;
  top: 150px;
}
